/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10rem 0;
  text-align: right;
  position: relative;
  overflow: hidden;

  /* Add background image */
  background-image: url('/img/cat_street.png');
  background-size: cover;       /* Make sure the image covers the whole banner */
  background-position: center;  /* Keep the subject centred */
  background-repeat: no-repeat; /* Avoid tiling */
  color: #6D676E;                 /* Ensure text is readable on top */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: right;
  justify-content: right;
}
